# --- DATA FILES ---
*.csv
*.xlsx
*.xls

# --- ENVIRONMENT / SECRETS ---
.env

# --- PYTHON ---
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# --- IDE ---
.vscode/
.idea/

# --- BACKUPS ---
bckp_*/

# --- OS ---
Thumbs.db
.DS_Store
